streamlit
langchain
langchain-openai
langchain-google-generativeai
langchain-community
python-docx
nltk
numpy
ragas
datasets
chromadb
cohere
docx2txt
pypdf
tiktoken
openai
google-generativeai
huggingface-hub
python-docx
